@page "/"

@using MyBookshelf.Data

@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits OwningComponentBase<BookshelfService>

<AuthorizeView>

    <!-- Show this section if the user is logged in -->

    <Authorized>

        <h4>Hello, @context.User.Identity.Name!</h4>
        <br />
        <h5>You have added @readBookNumber books to read list</h5>
        <h5>You have added @desiredBookNumber books to desired</h5>

    </Authorized>

    <!-- Show this section if the user is not logged in -->

    <NotAuthorized>

        <p>You're not signed in.</p>

    </NotAuthorized>

</AuthorizeView>

@code {

    [CascadingParameter]

    private Task<AuthenticationState> authenticationStateTask { get; set; }

    int readBookNumber, desiredBookNumber;
    protected override async Task OnInitializedAsync()

    {
        var user = (await authenticationStateTask).User;
        readBookNumber = await @Service.GetCountBooksAsync(true);
        desiredBookNumber = await @Service.GetCountBooksAsync(false);
    }

}

